<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Aisen Andreev Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/all.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="nav">
				<img src="https://thumb.tildacdn.com/tild3035-6264-4331-a361-393462373030/-/resize/600x/-/format/webp/photo.png" alt="logo" class="logo">
			</div>
			<div class="offer">
				<h1>Our Work</h1>
				<p>#OurExperience #Creative</span></p>
			</div>
		</div>
	</header>
	<section class="about">
		<div class="container">
			<div class="man"></div>
			<div class="text">
				<h3>
					Группа ПМИ-18-1
				</h3>
				<p>
					1. Игнатьев Дмитрий
				</p>
				<p>
					2. Андреев Айсен
				</p>
				<p>
					3. Арсентьев Чагыл
				</p>
				<p>
					4. Илларионов Дмитрий
				</p>
			</div>
		</div>
	</section>
	<section class="process">
		<div class="container">
			<div class="heading">
				<h2>TABLE</h2>
				<p><a href = "{% url 'post_new' %}" class = 'top-menu'><span class="letter">Добавить запись</span></a></p>
			</div>
			<div class="row">
                <div class ="col-md-8">
                    {%block content%}
                    {%endblock%}
                </div>
            </div>
		</div>
	</section>
</body>
</html>