{%extends 'blog/base.html'%}
<!DOCTYPE html>
{% load static %}

<html>
        
    <head>
        <title>Gyallahorn's blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css'%}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>


    <style>
            body{
                padding-left:  15px ;
                background-image: url("http://getwallpapers.com/wallpaper/full/f/8/3/1418081-vertical-car-background-pictures-1920x1200-xiaomi.jpg");}
          footer{
            background-color: #3366CC; 
          }
               </style>
              

    <body >
        <div class="page-header">
            <h1><a href="/">
                Главная
            </a></h1>
        </div>
            {%block content%}        
                   {%for post in posts%}
                    <div class="post">
                        <div class="date">
                            {{post.published_date}}
                        </div>
                        <h1><a href="{%url 'post_detail' pk=post.pk%}">{{post.title}}</a></h1>
                        <p>{{post.text|linebreaksbr}}</p>
                    </div>
                    {%endfor%}
                    {%endblock%}
        <footer>
            Выполнили студенты из группы ПМИ-18-1 :
        </footer>

    </body>
</html>