<html>
    <head>
        <title>Gyallahorn's blog</title>
        
    </head>
    <body>
            <h1>Добро пожаловать на сайт AKATSUKI</h1>
            <h2>bla bla</h2>
        <p>Hi there!</p>
        <p>It works!</p>
        {% for post in posts %}
        <div>
            <p>published :: {{post.published_date}}
                <h1>
                   <a href="">
                     {{post.title}} 
                   </a>
                </h1>
                <h2>{{post.text}}</h2>
            </p>
        </div>
        {% endfor %}
    </body>
</html>